body {
  color: #fff;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-color: #4A2500;
  margin: 0;
}
p, li {
  font-family: 'GoodDog', "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  margin: 0;
}
a:link, a:visited, a:active {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'KaushanScript', "Times New Roman", Times, serif;
}
hr {
  background-color: #4A2500;
  border: none;
  height: 2px;
}
iframe {
  border: 2px dashed #4A2500;
  border-radius: 5px;
}
.header {
  margin: 0;
}
.content {
  background-color: #A16B35;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  text-align: left;
}
@media (min-width: 900px) {
  .content {
    width: 800px;
  }
}
.innerContent {
  color: #4A2500;
  background-color: #fff;
  border: 2px solid #4A2500;
  border-radius: 5px;
  padding: 10px;
}
.innerContent a{
  color: #4A2500;
}
::selection {
  background: #000;
  color: #fff;
}

/* Font Imports */

@font-face {
  font-family: 'GoodDog';
  src: url('../fonts/GoodDog.otf') format('opentype');
}
@font-face {
  font-family: 'KaushanScript';
  src: url('../fonts/KaushanScript-Regular.otf') format('opentype');
}

/* Menu Bar Junk Below */

.menuBar {
  font-family: 'GoodDog', "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
}
.menuBar a {
  text-decoration: none;
}
.menuBarItem {
  color: #fff;
  background-color: rgba(74,37,0,.75);
  display: inline-block;
  border: 3px solid #fff;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}
.menuBarItem:hover, .menuBarItemCurrent {
  color: #fff;
  background-color: #00D640;
  display: inline-block;
  border: 3px solid #00D640;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 400px) {
  .menuBarItem, .menuBarItem:hover, .menuBarItemCurrent {
    display: block;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
  }
}
